body {
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

#content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    background-color: white;
    box-shadow: 0px 0px 10px 2px black;
}

button {
    background-color: navy;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 22px;
    padding: 2px 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: mediumblue;
}

button:disabled,
button:disabled:hover {
    background-color: grey;
    cursor: default;
}
